:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: #eaeded;
    margin: 0;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}
/*added the button-active style it just makes it where the button you select shifts */
.button:active, button:active {
    transform: translateY(2px);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

/*added by alexis need to change card to chatroom in html*/
.chatroom {
background: #15202b;
font-family: 'Roboto', sans-serif;
border-radius: 0.5em;
padding: 0.5em 1.25em;
margin: auto;
max-width: 37.5em;
height: 20em;
box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}
/*added by alexis */
.chatroom-header h2 {
margin-bottom: 1em;
color: #fff;
}
/*added by alexis */
.chatroom-header h2 {
font-size: 1.25em;
font-weight:bold;
}

.chatroom-content  {
font-size: 1.25em;
font-weight:bold;
}



.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

.chatroom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.chatroom-button:hover {
    background-color: #0056b3;
}

.user-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/*added the above styles so the buttons look cooler -adam */
.user-button:hover {
    background-color: #0056b3;
}

.welcome-section {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: #f2f2f2;
}



